<div class=" ">
    <div class="row">
        <div class="col-md-12">
            <app-herobinder></app-herobinder>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-12">
            <app-directhero></app-directhero>
        </div>
    </div>
    <br>
    <hr>
    <app-letsdopipes></app-letsdopipes>

    <div class="row">
        <!-- <app-letsdopipes></app-letsdopipes> -->

        <!-- <div class="col-md-12">
           
        </div> -->
    </div>
</div>